## Initial try at exploring sample

#### To Do:

1. eliminate reduncant rat1, rat2, etc columns
2. see number of null values
3. describe values at high level

In [2]:
import numpy as np
import pandas as pd
import re

#not sure which I will use. Perhaps testing both
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
filepath = "indeed_scrapy/scrape_data/"
filename = "company_reviews0to100fort20171020num_n_cowide sorted.csv"
df = pd.read_csv(filepath + filename, encoding = "latin1")

C:\Users\dsp21\Anaconda2\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (15,17,57,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Unnamed: 0,agg_rating,bar_name1,bar_name2,bar_name3,bar_name4,bar_name5,bar_pct1,bar_pct2,bar_pct3,...,Stressful,Balanced,Competitive,Relaxed,Cut-throat,Compensation/Benefits,Culture,Work/Life Balance,Management,Job Security/Advancement
0,0,2.0,Quick-paced,Stressful,Balanced,Competitive,Cut-throat,47%,41%,29%,...,41%,29%,25%,NaN,17%,3.7,3.4,3.5,3.2,3.1
1,1,4.0,Quick-paced,Stressful,Balanced,Competitive,Cut-throat,47%,41%,29%,...,41%,29%,25%,NaN,17%,3.7,3.4,3.5,3.2,3.1
2,2,5.0,Quick-paced,Stressful,Balanced,Competitive,Cut-throat,47%,41%,29%,...,41%,29%,25%,NaN,17%,3.7,3.4,3.5,3.2,3.1
3,3,2.0,Quick-paced,Stressful,Balanced,Competitive,Cut-throat,47%,41%,29%,...,41%,29%,25%,NaN,17%,3.7,3.4,3.5,3.2,3.1
4,4,3.0,Quick-paced,Stressful,Balanced,Competitive,Cut-throat,47%,41%,29%,...,41%,29%,25%,NaN,17%,3.7,3.4,3.5,3.2,3.1

In [19]:
flt1 = lambda x: '%.1f' % x
df.describe().applymap(flt1)

,agg_rating,comp_ben_rating,company_count_reviews,company_overall_rating,culture_rating,helpful_downvote_count,helpful_upvote_count,jobsec_advancement_rating,management_rating,work_life_rating,review_id,Compensation/Benefits,Culture,Work/Life Balance,Management,Job Security/Advancement
count,126899.0,113694.0,126899.0,126899.0,113509.0,50184.0,77120.0,113603.0,113554.0,114017.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0
mean,3.8,3.6,6025.9,3.8,3.6,2.7,5.1,3.3,3.4,3.6,63449.0,3.6,3.6,3.7,3.4,3.3
std,1.1,1.3,6105.3,0.2,1.3,4.7,8.3,1.3,1.3,1.3,36632.7,0.4,0.2,0.2,0.2,0.2
min,1.0,1.0,50.0,2.7,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.6,2.7,2.7,2.3,2.5
25%,3.0,3.0,2016.0,3.7,3.0,1.0,1.0,2.0,2.0,3.0,31724.5,3.3,3.5,3.5,3.3,3.2
50%,4.0,4.0,4121.0,3.9,4.0,2.0,2.0,3.0,4.0,4.0,63449.0,3.7,3.6,3.7,3.4,3.3
75%,5.0,5.0,4989.0,4.0,5.0,3.0,5.0,5.0,5.0,5.0,95173.5,4.0,3.8,3.8,3.5,3.4
max,5.0,5.0,19422.0,4.4,5.0,226.0,203.0,5.0,5.0,5.0,126898.0,4.5,4.3,4.4,3.9,3.8

1. eliminate redundant columns

In [15]:
#df = df.drop('column_name', axis=1) 
# https://stackoverflow.com/questions/28035839/how-to-delete-a-column-from-a-data-frame-with-pandas

bar_cols = df.columns[df.columns.str.contains('^bar_')]
print(bar_cols)

rate_cols = df.columns[df.columns.str.contains('^rat')]
print(rate_cols)

df = df.drop(bar_cols, axis =1)
df = df.drop(rate_cols, axis =1)
df.columns

Index([], dtype='object')
Index(['rating_name1', 'rating_name2', 'rating_name3', 'rating_name4',
       'rating_name5', 'rating_scr1', 'rating_scr2', 'rating_scr3',
       'rating_scr4', 'rating_scr5'],
      dtype='object')

Index(['Unnamed: 0', 'agg_rating', 'ceo_approval_pct', 'ceo_approval_ratings',
       'comp_ben_rating', 'company_count_QnA', 'company_count_jobs',
       'company_count_photos', 'company_count_reviews',
       'company_count_salaries', 'company_empl', 'company_facebook',
       'company_hq', 'company_indeed_url', 'company_industry', 'company_name',
       'company_overall_rating', 'company_rev', 'company_twitter',
       'company_website', 'con_text', 'culture_rating',
       'helpful_downvote_count', 'helpful_upvote_count',
       'jobsec_advancement_rating', 'main_text', 'management_rating',
       'pro_text', 'review_date', 'review_title',
       'reviewer_company_empl_status', 'reviewer_job_location',
       'reviewer_job_title', 'top_list', 'work_life_rating', 'review_id',
       'Quick-paced', 'Slow-paced', 'Stressful', 'Balanced', 'Competitive',
       'Relaxed', 'Cut-throat', 'Compensation/Benefits', 'Culture',
       'Work/Life Balance', 'Management', 'Job Security/Advancement'],
      dtype='object')

In [16]:
colstodrop = ['Unnamed: 0', 'company_empl', 'company_facebook', 'company_rev', 'company_twitter',
       'company_website']
df = df.drop(colstodrop, axis =1)
df.columns

Index(['agg_rating', 'ceo_approval_pct', 'ceo_approval_ratings',
       'comp_ben_rating', 'company_count_QnA', 'company_count_jobs',
       'company_count_photos', 'company_count_reviews',
       'company_count_salaries', 'company_hq', 'company_indeed_url',
       'company_industry', 'company_name', 'company_overall_rating',
       'con_text', 'culture_rating', 'helpful_downvote_count',
       'helpful_upvote_count', 'jobsec_advancement_rating', 'main_text',
       'management_rating', 'pro_text', 'review_date', 'review_title',
       'reviewer_company_empl_status', 'reviewer_job_location',
       'reviewer_job_title', 'top_list', 'work_life_rating', 'review_id',
       'Quick-paced', 'Slow-paced', 'Stressful', 'Balanced', 'Competitive',
       'Relaxed', 'Cut-throat', 'Compensation/Benefits', 'Culture',
       'Work/Life Balance', 'Management', 'Job Security/Advancement'],
      dtype='object')

In [21]:
df.describe(include="all")

,agg_rating,ceo_approval_pct,ceo_approval_ratings,comp_ben_rating,company_count_QnA,company_count_jobs,company_count_photos,company_count_reviews,company_count_salaries,company_hq,...,Stressful,Balanced,Competitive,Relaxed,Cut-throat,Compensation/Benefits,Culture,Work/Life Balance,Management,Job Security/Advancement
count,126899.000000,126899,126899,113694.000000,126899.0,126899,117520,126899.000000,126899,121099,...,125959,125959,125799,71359,54680,126899.000000,126899.000000,126899.000000,126899.000000,126899.000000
unique,NaN,33,79,NaN,54.0,63,76,NaN,63,76,...,29,27,34,18,17,NaN,NaN,NaN,NaN,NaN
top,NaN,75%,"4,402 ratings",NaN,65.0,4K,1.2K,NaN,4K,$1B to $5B (USD),...,35%,33%,43%,17%,21%,NaN,NaN,NaN,NaN,NaN
freq,NaN,12940,4980,NaN,5900.0,11860,5260,NaN,11860,5060,...,13120,19859,9400,12500,10340,NaN,NaN,NaN,NaN,NaN
mean,3.826626,NaN,NaN,3.636014,NaN,NaN,NaN,6025.893340,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.628245,3.631141,3.652780,3.399431,3.310622
std,1.136330,NaN,NaN,1.260897,NaN,NaN,NaN,6105.309332,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.396194,0.233556,0.212314,0.185077,0.185905
min,1.000000,NaN,NaN,1.000000,NaN,NaN,NaN,50.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.600000,2.700000,2.700000,2.300000,2.500000
25%,3.000000,NaN,NaN,3.000000,NaN,NaN,NaN,2016.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.300000,3.500000,3.500000,3.300000,3.200000
50%,4.000000,NaN,NaN,4.000000,NaN,NaN,NaN,4121.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.700000,3.600000,3.700000,3.400000,3.300000
75%,5.000000,NaN,NaN,5.000000,NaN,NaN,NaN,4989.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.000000,3.800000,3.800000,3.500000,3.400000
max,5.000000,NaN,NaN,5.000000,NaN,NaN,NaN,19422.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.500000,4.300000,4.400000,3.900000,3.800000

In [27]:
def string_pct_to_float(strpct):
    try:
        result = float(strpct.strip('%'))/100
        return result
    except:
        return strpct


pct_cols = ['Quick-paced', 'Slow-paced', 'Stressful', 'Balanced', 'Competitive',
       'Relaxed', 'Cut-throat']
df[pct_cols] = df[pct_cols].applymap(string_pct_to_float)

##### Analyze nulls and duplicates

In [30]:
val_col_counts = df.isnull().apply(pd.value_counts)
val_col_counts['totals'] = val_col_counts.sum(axis = 1)
val_col_counts = val_col_counts.append(pd.Series(val_col_counts.sum(axis=0), name = 'subtotals'))
val_col_counts

NameError: name 'display' is not defined

In [38]:
#https://stackoverflow.com/questions/26873127/show-dataframe-as-table-in-ipython-notebook
from IPython.display import display

#trying again: https://stackoverflow.com/questions/11361985/output-data-from-all-columns-in-a-dataframe-in-pandas
pd.options.display.max_rows = 50
display(val_col_counts)
df.describe()

,agg_rating,ceo_approval_pct,ceo_approval_ratings,comp_ben_rating,company_count_QnA,company_count_jobs,company_count_photos,company_count_reviews,company_count_salaries,company_hq,company_indeed_url,company_industry,company_name,company_overall_rating,con_text,culture_rating,helpful_downvote_count,helpful_upvote_count,jobsec_advancement_rating,main_text,management_rating,pro_text,review_date,review_title,reviewer_company_empl_status,reviewer_job_location,reviewer_job_title,top_list,work_life_rating,review_id,Quick-paced,Slow-paced,Stressful,Balanced,Competitive,Relaxed,Cut-throat,Compensation/Benefits,Culture,Work/Life Balance,Management,Job Security/Advancement,totals
False,126899.0,126899.0,126899.0,113694.0,126899.0,126899.0,117520.0,126899.0,126899.0,121099.0,126899.0,125799.0,126899.0,126899.0,63791.0,113509.0,50184.0,77120.0,113603.0,126897.0,113554.0,67303.0,126899.0,126899.0,126899.0,126876.0,126868.0,126899.0,114017.0,126899.0,125959.0,80.0,125959.0,125959.0,125799.0,71359.0,54680.0,126899.0,126899.0,126899.0,126899.0,126899.0,4739609.0
True,NaN,NaN,NaN,13205.0,NaN,NaN,9379.0,NaN,NaN,5800.0,NaN,1100.0,NaN,NaN,63108.0,13390.0,76715.0,49779.0,13296.0,2.0,13345.0,59596.0,NaN,NaN,NaN,23.0,31.0,NaN,12882.0,NaN,940.0,126819.0,940.0,940.0,1100.0,55540.0,72219.0,NaN,NaN,NaN,NaN,NaN,590149.0
subtotals,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,126899.0,5329758.0

,agg_rating,comp_ben_rating,company_count_reviews,company_overall_rating,culture_rating,helpful_downvote_count,helpful_upvote_count,jobsec_advancement_rating,management_rating,work_life_rating,review_id,Quick-paced,Slow-paced,Stressful,Balanced,Competitive,Relaxed,Cut-throat,Compensation/Benefits,Culture,Work/Life Balance,Management,Job Security/Advancement
count,126899.000000,113694.000000,126899.000000,126899.000000,113509.000000,50184.000000,77120.000000,113603.000000,113554.000000,114017.000000,126899.000000,125959.000000,8.000000e+01,125959.000000,125959.000000,125799.000000,71359.000000,54680.000000,126899.000000,126899.000000,126899.000000,126899.000000,126899.000000
mean,3.826626,3.636014,6025.893340,3.831425,3.633254,2.721126,5.096668,3.309226,3.397080,3.641764,63449.000000,0.465757,1.400000e-01,0.367705,0.323768,0.318032,0.207655,0.170223,3.628245,3.631141,3.652780,3.399431,3.310622
std,1.136330,1.260897,6105.309332,0.215797,1.284426,4.655547,8.290288,1.339016,1.347249,1.257586,36632.730242,0.101713,5.586138e-17,0.067232,0.061096,0.096261,0.058140,0.037967,0.396194,0.233556,0.212314,0.185077,0.185905
min,1.000000,1.000000,50.000000,2.700000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.260000,1.400000e-01,0.210000,0.160000,0.120000,0.120000,0.120000,2.600000,2.700000,2.700000,2.300000,2.500000
25%,3.000000,3.000000,2016.000000,3.700000,3.000000,1.000000,1.000000,2.000000,2.000000,3.000000,31724.500000,0.390000,1.400000e-01,0.310000,0.290000,0.250000,0.170000,0.140000,3.300000,3.500000,3.500000,3.300000,3.200000
50%,4.000000,4.000000,4121.000000,3.900000,4.000000,2.000000,2.000000,3.000000,4.000000,4.000000,63449.000000,0.460000,1.400000e-01,0.370000,0.330000,0.320000,0.190000,0.160000,3.700000,3.600000,3.700000,3.400000,3.300000
75%,5.000000,5.000000,4989.000000,4.000000,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,95173.500000,0.520000,1.400000e-01,0.400000,0.360000,0.390000,0.230000,0.210000,4.000000,3.800000,3.800000,3.500000,3.400000
max,5.000000,5.000000,19422.000000,4.400000,5.000000,226.000000,203.000000,5.000000,5.000000,5.000000,126898.000000,0.690000,1.400000e-01,0.550000,0.500000,0.640000,0.380000,0.370000,4.500000,4.300000,4.400000,3.900000,3.800000

Looks reasonable :) Probably need to somehow reduce the cut-throat/relaxed and quick-paced/slow-aced to one column each.

First, let me check for duplicates.

In [39]:
df['company_name'].value_counts()

Bank Of America                   4980
Best Buy                          4980
Amazon.com                        4980
Aramark                           4980
AT&T                              4980
CVS Health                        4980
AutoZone                          4960
Burlington Stores                 4680
Capital One                       4560
American Express                  4420
Allstate Insurance                4200
Boeing                            4180
Apple                             4180
Avon                              4099
Big Lots                          3480
Bed Bath & Beyond                 3440
Advance Auto Parts                3380
ADP                               2920
Baker Hughes Incorporated         2800
AECOM                             2520
Aetna                             2480
Anthem, Inc.                      2320
AIG                               2080
Cardinal Health                   2040
3M                                2000
Abbott Laboratories               1980
Avis Budget Group                 1860
Aflac                             1800
CBRE                              1640
American Airlines                 1620
Assurant                          1480
CarMax                            1340
Baxter Healthcare                 1260
Alcoa                             1240
Booz Allen Hamilton               1220
Bristol-Myers Squibb               960
AmerisourceBergen                  860
American Family Insurance          720
Boston Scientific                  720
Amgen                              700
Indiana University Health          700
Becton Dickinson & Company         640
Ameriprise Financial               640
Avery Dennison                     580
C.H. Robinson                      540
AutoNation                         540
CH2M                               520
Autoliv                            520
Avnet                              500
Applied Materials                  480
Airgas                             480
AES Corporation                    480
CSX                                480
Arrow Electronics                  460
BorgWarner                         420
Archer Daniels Midland             400
Gallagher                          380
Air France                         360
AbbVie                             320
Adobe                              320
AGCO Corporation                   300
Builders FirstSource               280
Biogen                             280
Ally Financial                     260
CDW                                240
BlackRock Inc.                     220
American Electric Power (AEP)      200
Anadarko Petroleum Corporation     160
Alaska Airlines                    160
AK Steel                           160
Altria                             140
Anixter                            120
Asbury Automotive Group            100
CBS Radio                          100
Auto-Owners Insurance               80
Ameren                              80
CHS Inc.                            60
Calpine                             40
Arconic                             40
CST Brands                          40
ABM On-Site                         20
Apache                              20
Activision                          20
Name: company_name, dtype: int64

In [46]:
df['doop'] = df.duplicated(['company_name', 'review_date', 'review_title', 'main_text', 'reviewer_job_title', 'agg_rating'])
df['doop'].value_counts()

False    126892
True          7
Name: doop, dtype: int64

Not many doops at all! Well, there might be some sly duplicates that don't share the same differences. For later.

Might as well remove the 7 dups.

In [52]:
df = df[df['doop'] == False]
print(df['doop'].value_counts())
df = df.drop('doop', axis = 1)

False    126892
Name: doop, dtype: int64

On to visualization and summarizing. First of all, need to note which columns are reviewer-specific, which are text columns, company-wide

In [54]:
review_spec_cols = ['agg_rating','comp_ben_rating', 
    'culture_rating', 'jobsec_advancement_rating', 
       'management_rating', 'work_life_rating', 'helpful_downvote_count',
       'helpful_upvote_count', 'review_id','review_date', 'review_title',
       'reviewer_company_empl_status', 'reviewer_job_location',
       'reviewer_job_title', 'main_text', 'con_text', 'pro_text'
]

company_cols = df.columns[~(df.columns.isin(review_spec_cols))]
company_cols

Index(['ceo_approval_pct', 'ceo_approval_ratings', 'company_count_QnA',
       'company_count_jobs', 'company_count_photos', 'company_count_reviews',
       'company_count_salaries', 'company_hq', 'company_indeed_url',
       'company_industry', 'company_name', 'company_overall_rating',
       'top_list', 'Quick-paced', 'Slow-paced', 'Stressful', 'Balanced',
       'Competitive', 'Relaxed', 'Cut-throat', 'Compensation/Benefits',
       'Culture', 'Work/Life Balance', 'Management',
       'Job Security/Advancement'],
      dtype='object')

In [55]:
df.to_csv('Data/co_rev_sample_filtered.csv', encoding = 'utf-8')

### Visualization... or not?

In [ ]:
# - from above:
##not sure which I will use. Perhaps testing both
#from matplotlib import pyplot as plt
#import seaborn as sns

In [56]:
sns.kdeplot(df['agg_rating'], shade=True, label='Estimated PDF of agg-rating')

In [60]:
plt.hist(df['agg_rating'], bins=20, color="#5ee3ff")

(array([  6835.,      0.,      0.,      0.,      0.,   8832.,      0.,
             0.,      0.,      0.,  27330.,      0.,      0.,      0.,
             0.,  40402.,      0.,      0.,      0.,  43493.]),
 array([ 1. ,  1.2,  1.4,  1.6,  1.8,  2. ,  2.2,  2.4,  2.6,  2.8,  3. ,
         3.2,  3.4,  3.6,  3.8,  4. ,  4.2,  4.4,  4.6,  4.8,  5. ]),
 <a list of 20 Patch objects>)

Umm I'm not sure what I changed on the settings, but looks like I can't display graphs. Trying another notebook.

Let's leave it at describe everything, and describe by company if possible...

Edit: forgot the magic command '%matplotlib inline' from the lecture and: https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

In [61]:
df.describe()

,agg_rating,comp_ben_rating,company_count_reviews,company_overall_rating,culture_rating,helpful_downvote_count,helpful_upvote_count,jobsec_advancement_rating,management_rating,work_life_rating,review_id,Quick-paced,Slow-paced,Stressful,Balanced,Competitive,Relaxed,Cut-throat,Compensation/Benefits,Culture,Work/Life Balance,Management,Job Security/Advancement
count,126892.000000,113687.000000,126892.000000,126892.000000,113502.000000,50180.000000,77117.000000,113596.000000,113547.000000,114010.000000,126892.000000,125952.000000,8.000000e+01,125952.000000,125952.000000,125792.000000,71355.000000,54677.000000,126892.000000,126892.000000,126892.000000,126892.000000,126892.000000
mean,3.826577,3.635965,6026.052304,3.831424,3.633205,2.721263,5.096814,3.309148,3.397043,3.641742,63449.157346,0.465759,1.400000e-01,0.367706,0.323767,0.318033,0.207656,0.170225,3.628242,3.631141,3.652777,3.399431,3.310621
std,1.136338,1.260901,6105.436309,0.215797,1.284424,4.655707,8.290416,1.339008,1.347223,1.257600,36632.633102,0.101713,5.586138e-17,0.067232,0.061097,0.096262,0.058141,0.037967,0.396192,0.233558,0.212313,0.185076,0.185904
min,1.000000,1.000000,50.000000,2.700000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.260000,1.400000e-01,0.210000,0.160000,0.120000,0.120000,0.120000,2.600000,2.700000,2.700000,2.300000,2.500000
25%,3.000000,3.000000,2016.000000,3.700000,3.000000,1.000000,1.000000,2.000000,2.000000,3.000000,31724.750000,0.390000,1.400000e-01,0.310000,0.290000,0.250000,0.170000,0.140000,3.300000,3.500000,3.500000,3.300000,3.200000
50%,4.000000,4.000000,4121.000000,3.900000,4.000000,2.000000,2.000000,3.000000,4.000000,4.000000,63449.500000,0.460000,1.400000e-01,0.370000,0.330000,0.320000,0.190000,0.160000,3.700000,3.600000,3.700000,3.400000,3.300000
75%,5.000000,5.000000,4989.000000,4.000000,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,95173.250000,0.520000,1.400000e-01,0.400000,0.360000,0.390000,0.230000,0.210000,4.000000,3.800000,3.800000,3.500000,3.400000
max,5.000000,5.000000,19422.000000,4.400000,5.000000,226.000000,203.000000,5.000000,5.000000,5.000000,126898.000000,0.690000,1.400000e-01,0.550000,0.500000,0.640000,0.380000,0.370000,4.500000,4.300000,4.400000,3.900000,3.800000

In [67]:
numeric_review_spec_cols = df[review_spec_cols].describe().columns
df[review_spec_cols].describe()

,agg_rating,comp_ben_rating,culture_rating,jobsec_advancement_rating,management_rating,work_life_rating,helpful_downvote_count,helpful_upvote_count,review_id
count,126892.000000,113687.000000,113502.000000,113596.000000,113547.000000,114010.000000,50180.000000,77117.000000,126892.000000
mean,3.826577,3.635965,3.633205,3.309148,3.397043,3.641742,2.721263,5.096814,63449.157346
std,1.136338,1.260901,1.284424,1.339008,1.347223,1.257600,4.655707,8.290416,36632.633102
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,1.000000,1.000000,31724.750000
50%,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,2.000000,2.000000,63449.500000
75%,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,5.000000,95173.250000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,226.000000,203.000000,126898.000000

In [86]:
review_labels = review_spec_cols[[(x not in numeric_review_spec_cols) for x in review_spec_cols]]

TypeError: list indices must be integers or slices, not list

In [90]:
'''
You're looking for itertools.compress:

>>> from itertools import compress
>>> list_a = [1, 2, 4, 6]
>>> fil = [True, False, True, False]
>>> list(compress(list_a, fil))
[1, 4]
https://stackoverflow.com/questions/18665873/filtering-a-list-based-on-a-list-of-booleans
'''

from itertools import compress
review_labels = list(compress(review_spec_cols,[(x not in numeric_review_spec_cols) for x in review_spec_cols]))
review_labels

['review_date',
 'review_title',
 'reviewer_company_empl_status',
 'reviewer_job_location',
 'reviewer_job_title',
 'main_text',
 'con_text',
 'pro_text']

### Some to-dos:

Change review_date to date time that can be interpreted. 
Do some basic analysis on the main, con and pro text.